$--white: #ffffff;
$--dark: #1c1c1c;
$--primary: #0cbc3d;
$--warning: #e6a23c;
$--success: #45b8db;
$--danger: #f56c6c;
$--error: $--danger;
$--info: #909399;

:root {
  --color-dark: #{$--dark};
  --color-primary: #{$--primary};
  --color-warning: #{$--warning};
  --color-success: #{$--success};
  --color-danger: #{$--danger};
  --color-error: #{$--error};
  --color-info: #{$--info};
}
